@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  background-color: #fff;
  color: #666;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: #666;
}
img {
  border: 0;
  vertical-align: middle;
}
.wrap {
  width: 100%;
}
.inner {
  max-width: 1340px;
  margin: 0 auto;
  background-color: antiquewhite;
}
/* 상단 */
.header {
  position: relative;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
}
.logo {
  width: 15%;
  line-height: 100px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  background: url("https://picsum.photos/200/100");
}
.menu {
  position: absolute;
  right: 20px;
  bottom: 0;
  width: 50%;
  height: 40px;
  z-index: 3;
}
.navi {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navi > li {
  position: relative;
  width: calc(100% / 5);
  height: 40px;
  background-color: #333;
  line-height: 40px;
  text-align: center;
}
.navi > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.navi > li:hover > a {
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
.submenu {
  position: absolute;
  width: 100%;
  top: 40px;
  display: none;
}
.submenu > li > a {
  color: #fff;
}
.submenu > li > a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}
.submenu-bg {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}
/* slide */
.main {
  position: relative;
  width: 100%;
}
.slide {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: aqua;
}
.slide-list {
  position: relative;
  width: 300%;
  height: 100%;

  display: flex;
}
.slide-list li {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}
.slide-list li a {
  height: 100%;
}
.slide-list li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-list span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px;

  color: #fff;
  text-align: center;
}
/* shortcut */
.shortcut {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  background-color: #999;
  opacity: 0.8;
}
.shortcut a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.shortcut span {
  color: #000000;
}
/* banner */
.banner {
  position: relative;
  padding: 20px 50px;
}
.banner a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  display: flex;
  gap: 30px;
  align-items: center;
}
.txt p:first-child {
  font-weight: bold;
}
.banner span {
  font-size: 50px;
  font-weight: bold;
}
/* 탭메뉴 */
.tabmenu {
  position: relative;
  padding: 20px 0;
  height: 240px;
}
.tabmenu > li {
  position: absolute;
}
.tabmenu > li > a {
  position: absolute;
  width: 100px;
  line-height: 40px;
  color: #333;
  text-align: center;
}
.tabmenu > li:last-child > a {
  left: 100px;
}
.tabmenu > li > div {
  position: absolute;
  top: 40px;
  left: 0;
  width: 900px;
  height: 160px;
  display: none;
}
.tabmenu > li.active > div {
  display: block;
}
.tabmenu > li.active > a {
  background-color: rgba(0, 0, 0, 0.3);
}
.tabmenu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.notice a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  padding: 0 5px;
}
.notice li:nth-child(even) a {
  background-color: rgba(0, 0, 0, 0.1);
}
.notice ul li:hover a {
  font-weight: bold;
}
.gallery ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
/* footer */
.footer {
  position: relative;
  height: 120px;
  display: flex;
}
.btlogo {
  width: 15%;
  filter: grayscale(2);
}
.btmenu {
  width: 85%;
  background-color: rgba(0, 0, 0, 0.1);
}
.footermenu {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  padding-left: 20px;
}
.footermenu a {
  padding: 0 10px;
  border-right: 1px solid #333;
  text-decoration: underline;
}
.footermenu li:last-child a {
  border: none;
}
.footermenu a:hover {
  font-weight: bold;
}
.copy {
  padding: 0 30px;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  display: none;
}
#modal.active{
  display: block;
}
.modal-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
}
.modal-btn{
  cursor: pointer;
}